/*
 * Polling API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.ResponseOutputModelMaintenanceModeModel;
import io.swagger.client.model.ResponseOutputModelCommsModel;
import io.swagger.client.model.ResponseOutputModelSynchronizationTimeModel;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PlatformControlEndpointApi {
    private ApiClient apiClient;

    public PlatformControlEndpointApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PlatformControlEndpointApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for platformMaintenanceStatus */
    private com.squareup.okhttp.Call platformMaintenanceStatusCall(String lastUpdatedDateTime, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'lastUpdatedDateTime' is set
        if (lastUpdatedDateTime == null) {
            throw new ApiException("Missing the required parameter 'lastUpdatedDateTime' when calling platformMaintenanceStatus(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/API/Platform/Maintenance/Status".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (lastUpdatedDateTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "lastUpdatedDateTime", lastUpdatedDateTime));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get the status of maintenance mode for the platform
     * 
     * @param lastUpdatedDateTime  (required)
     * @return ResponseOutputModelMaintenanceModeModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseOutputModelMaintenanceModeModel platformMaintenanceStatus(String lastUpdatedDateTime) throws ApiException {
        ApiResponse<ResponseOutputModelMaintenanceModeModel> resp = platformMaintenanceStatusWithHttpInfo(lastUpdatedDateTime);
        return resp.getData();
    }

    /**
     * Get the status of maintenance mode for the platform
     * 
     * @param lastUpdatedDateTime  (required)
     * @return ApiResponse&lt;ResponseOutputModelMaintenanceModeModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseOutputModelMaintenanceModeModel> platformMaintenanceStatusWithHttpInfo(String lastUpdatedDateTime) throws ApiException {
        com.squareup.okhttp.Call call = platformMaintenanceStatusCall(lastUpdatedDateTime, null, null);
        Type localVarReturnType = new TypeToken<ResponseOutputModelMaintenanceModeModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the status of maintenance mode for the platform (asynchronously)
     * 
     * @param lastUpdatedDateTime  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call platformMaintenanceStatusAsync(String lastUpdatedDateTime, final ApiCallback<ResponseOutputModelMaintenanceModeModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = platformMaintenanceStatusCall(lastUpdatedDateTime, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseOutputModelMaintenanceModeModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for platformRazerCommsVersion */
    private com.squareup.okhttp.Call platformRazerCommsVersionCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/API/Platform/Module/Razer/Comms/Version".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get the installed version of Razer comms for the logged in player
     * 
     * @return ResponseOutputModelCommsModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseOutputModelCommsModel platformRazerCommsVersion() throws ApiException {
        ApiResponse<ResponseOutputModelCommsModel> resp = platformRazerCommsVersionWithHttpInfo();
        return resp.getData();
    }

    /**
     * Get the installed version of Razer comms for the logged in player
     * 
     * @return ApiResponse&lt;ResponseOutputModelCommsModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseOutputModelCommsModel> platformRazerCommsVersionWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = platformRazerCommsVersionCall(null, null);
        Type localVarReturnType = new TypeToken<ResponseOutputModelCommsModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the installed version of Razer comms for the logged in player (asynchronously)
     * 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call platformRazerCommsVersionAsync(final ApiCallback<ResponseOutputModelCommsModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = platformRazerCommsVersionCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseOutputModelCommsModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for platformTimeSynchronization */
    private com.squareup.okhttp.Call platformTimeSynchronizationCall(String clientTime, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'clientTime' is set
        if (clientTime == null) {
            throw new ApiException("Missing the required parameter 'clientTime' when calling platformTimeSynchronization(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/API/Platform/Synchronization/Time".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (clientTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "clientTime", clientTime));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param clientTime  (required)
     * @return ResponseOutputModelSynchronizationTimeModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseOutputModelSynchronizationTimeModel platformTimeSynchronization(String clientTime) throws ApiException {
        ApiResponse<ResponseOutputModelSynchronizationTimeModel> resp = platformTimeSynchronizationWithHttpInfo(clientTime);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param clientTime  (required)
     * @return ApiResponse&lt;ResponseOutputModelSynchronizationTimeModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseOutputModelSynchronizationTimeModel> platformTimeSynchronizationWithHttpInfo(String clientTime) throws ApiException {
        com.squareup.okhttp.Call call = platformTimeSynchronizationCall(clientTime, null, null);
        Type localVarReturnType = new TypeToken<ResponseOutputModelSynchronizationTimeModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param clientTime  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call platformTimeSynchronizationAsync(String clientTime, final ApiCallback<ResponseOutputModelSynchronizationTimeModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = platformTimeSynchronizationCall(clientTime, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseOutputModelSynchronizationTimeModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
